<!DOCTYPE html>
<html>
<head>
  <title>Delete A Student</title>
</head>
<body>
<h2>Please Enter The Student's Name Below Who You Wish To Delete:</h2>
 <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete</button>
</form>
</body>
</html>